.blue_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  color: white;
  background: #2C4792;
  border: none;
  padding: 7px;
  font-weight: 500;
  border-radius: 5px;
}
.blue_btn:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px black;
}
.blue_btn img {
  margin-right: 5px;
  width: 15px;
}

.google_btn {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #2C4792;
  padding: 10px;
  background: white;
  border: 1px solid #AEB9D5;
  border-radius: 5px;
}
.google_btn:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px black;
}
.google_btn img {
  margin-right: 5px;
  width: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #58402C;
}
@media screen and (max-width: 900px) {
  body header .subcontainer {
    width: 100%;
  }
  body header .subcontainer nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body header .subcontainer nav ul {
    display: none;
  }
  body header .subcontainer nav .hamburger_menu {
    display: inline-block;
  }
  body header .subcontainer nav .hamburger_menu i {
    color: #58402C;
    font-size: 20px;
  }
  body header .subcontainer .jumbotron .left_jumbo, body header .subcontainer .jumbotron .right_jumbo {
    margin: 0 auto;
    width: 80%;
  }
  body header .subcontainer .jumbotron .left_jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
body h1 {
  font-size: 30px;
  line-height: 50px;
}
body i {
  vertical-align: middle;
}

header .subcontainer {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}
header nav {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
  border-bottom: 1px solid black;
}
header nav .hamburger_menu {
  display: none;
}
header nav .logo img {
  width: 125px;
}
header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header nav ul li {
  margin-right: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #58402C;
}
header nav ul li a:visited {
  color: none;
}
header .jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0px 0px 0px;
}
header .jumbotron .left_jumbo {
  align-self: flex-start;
  width: 50%;
}
header .jumbotron .left_jumbo p:first-of-type {
  font-weight: 500;
}
header .jumbotron .left_jumbo .sign_up_row .btns_row {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
header .jumbotron .left_jumbo .sign_up_row .btns_row span {
  margin: 0 10px;
}
header .jumbotron .left_jumbo .sign_up_row p:last-child {
  margin-top: 20px;
  font-size: 13px;
}
header .jumbotron .left_jumbo .sign_up_row p:last-child i {
  margin-left: 3px;
}
header .jumbotron .right_jumbo {
  pad: 10px;
  width: 50%;
}
header .jumbotron .right_jumbo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

main section:first-of-type {
  background: #FFE7D2;
}
main section:first-of-type h2 {
  margin: 0 auto;
  text-align: center;
  width: 65%;
  font-size: 18px;
}
main section:first-of-type .section_upside, main section:first-of-type .section_downside {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0px;
}
main section:first-of-type .section_upside .col_row, main section:first-of-type .section_downside .col_row {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main section:first-of-type .section_upside .col_row div, main section:first-of-type .section_downside .col_row div {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main section:first-of-type .section_upside .col_row div img, main section:first-of-type .section_downside .col_row div img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100px;
  width: 35%;
}
main section:first-of-type .section_upside .col_row div p, main section:first-of-type .section_downside .col_row div p {
  text-align: center;
  width: 100%;
  margin: 30px 0px;
  font-size: 13px;
}
main section:first-of-type .section_upside .mascotte_row, main section:first-of-type .section_downside .mascotte_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main section:first-of-type .section_upside .mascotte_row img, main section:first-of-type .section_downside .mascotte_row img {
  width: 30%;
  margin-bottom: 70px;
}
main section:first-of-type .section_upside {
  border-bottom: 1px solid black;
}
main section:nth-child(2) {
  padding: 10px 0;
}
main section:nth-child(2) .section_row {
  content: "";
  display: table;
  clear: both;
  padding: 30px 0px;
}
main section:nth-child(2) .section_row .img_side, main section:nth-child(2) .section_row .description_side {
  float: left;
  width: 50%;
}
main section:nth-child(2) .section_row .img_side img {
  width: 100%;
}
main section:nth-child(2) .section_row .description_side .description_wrapper {
  width: 50%;
}
main section:nth-child(2) .section_row .description_side .description_wrapper a {
  text-decoration: none;
  color: #58402C;
}
main section:nth-child(2) .section_row .description_side .description_wrapper a:visited {
  color: none;
}
main section:nth-child(2) .section_row .description_side .description_wrapper h3 {
  margin-bottom: 40px;
}
main section:nth-child(2) .section_row .description_side .description_wrapper p {
  margin: 20px 0;
  padding-left: 10px;
}
main section:nth-child(2) .section_row .description_side .description_wrapper p a {
  color: #2C4792;
}
main section:nth-child(2) .section_row .description_side .description_wrapper img {
  margin-top: 10px;
  width: 100%;
}
main section:nth-child(2) .section_row.reverse .description_side {
  content: "";
  display: table;
  clear: both;
}
main section:nth-child(2) .section_row.reverse .description_side .description_wrapper {
  float: right;
}
main section:last-child {
  background: #FFE7D2;
  padding: 40px 0;
}
main section:last-child .section_wrapper {
  margin: 0 auto;
  width: 50%;
}
main section:last-child .section_wrapper .title_row h1 {
  text-align: center;
}
main section:last-child .section_wrapper .title_row h1 img {
  width: 25px;
}
main section:last-child .section_wrapper .content_row .co_founders {
  margin-top: 50px;
  position: relative;
  padding: 5px 20px;
  background: white;
  border: 1px solid #2C4792;
  border-radius: 10px;
}
main section:last-child .section_wrapper .content_row .co_founders p {
  margin: 15px 0;
}
main section:last-child .section_wrapper .content_row .co_founders .profile_wrapper {
  display: flex;
  align-items: center;
}
main section:last-child .section_wrapper .content_row .co_founders .profile_wrapper .profile_pictures img {
  width: 50px;
  margin-right: 20px;
}
main section:last-child .section_wrapper .content_row .co_founders .profile_wrapper .profile_names {
  margin-left: 5px;
}
main section:last-child .section_wrapper .content_row .co_founders .profile_wrapper .profile_names h4 {
  font-weight: 400;
}
main section:last-child .section_wrapper .content_row .co_founders .profile_wrapper .profile_names h4:first-of-type {
  color: #2C4792;
}
main section:last-child .section_wrapper .content_row .co_founders i {
  color: #2C4792;
  font-size: 20px;
  position: absolute;
  transform: translateY(-50%);
  top: 0;
  left: 0;
}
main section:last-child .section_wrapper .content_row .sign_up_row .btns_row {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
main section:last-child .section_wrapper .content_row .sign_up_row .btns_row span {
  margin: 0 10px;
}
main section:last-child .section_wrapper .content_row .sign_up_row p:last-child {
  margin-top: 20px;
  font-size: 13px;
}
main section:last-child .section_wrapper .content_row .sign_up_row p:last-child i {
  margin-left: 3px;
}
main section:last-child .section_wrapper .content_row .sign_up_row {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

footer {
  padding: 40px 0;
  display: flex;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}
footer .left_footer {
  padding: 0 30px;
  display: flex;
  align-items: flex-start;
  width: 30%;
}
footer .left_footer img {
  width: 100px;
  margin-right: 20px;
}
footer .left_footer p span {
  color: #2C4792;
  font-size: 13px;
}
footer .right_footer {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
footer .right_footer .footer_col {
  max-width: 150px;
}
footer .right_footer .footer_col h4 {
  margin-bottom: 35px;
}
footer .right_footer ul {
  list-style: none;
}
footer .right_footer ul li {
  margin: 10px 0px;
}
footer .right_footer ul li a {
  text-decoration: none;
  color: #58402C;
}
footer .right_footer ul li a:visited {
  color: none;
}
footer .right_footer ul li a {
  font-size: 13px;
}
