// MQ
// Variables
// Enlarged fonts
$mq_baseFontSize : $baseFontSize * 1.3;
$mq_smallerText : $smallerText * 1.3;
$mq_biggerText : $biggerText * 1.3;
$mq_leadTitle : $leadTitle * 1.3;

// MIXIN

// Header
@mixin mq_mobile_head {
    @media screen and (max-width: 900px) {
        header {
            .subcontainer {
                width: 100%;
                nav {
                    height: fit-content;
                    ul {
                        display: none;
                    }
                    .hamburger_menu {
                        display: inline-block;
                        i {
                            color : $appText;
                            font-size: $mq_biggerText;
                        }
                    }
                }
                .jumbotron {
                    .left_jumbo, .right_jumbo {
                        margin: 0 auto;
                        width: 80%;
                    }
                    .left_jumbo {
                        h1 {
                            font-size: $mq_leadTitle;
                        }
                        p, .sign_up_row p:last-child {
                            font-size: $mq_baseFontSize;
                        }
                        span {
                            font-size: $mq_smallerText;
                        }
                        @include centered_content;
                        text-align: center;                        
                    }
                }
            }
        }
    }
}

// Main
// Section 1
@mixin mq_firstSection {
    @media screen and (max-width: 900px) {
        main {
            section:first-of-type {
                .section_upside, .section_downside {
                    h2 {
                        font-size: $mq_biggerText;
                    }
                    .col_row {
                        div {
                            margin: 0 auto;
                            width: 60%;
                            p {
                                font-size: $mq_smallerText;
                            }
                        }
                    }
                    .mascotte_row {
                        margin: 0 auto;
                        width: 60%;
                        img {
                            width: 70%;
                        }                
                    }
                }


            }
        }
    }
}

// Section 2
@mixin mq_secondSection {
    @media screen and (max-width: 900px) {
        main {
            section:nth-child(2) {
                .section_row {
                    .img_side, .description_side {
                        text-align: center;
                        width: 100%;
                    }
                    .description_side {
                        .description_wrapper {
                            width: 100%;    
    
                            h3 {
                                font-size: $mq_biggerText;
                            }
                            p { 
                                font-size: $mq_baseFontSize;
                            }   
                        }
                    }
                } 
            }
        }
    }
}