// MQ

// Header
@mixin mq_mobile_head {
    @media screen and (max-width: 900px) {
        header {
            .subcontainer {
                width: 100%;
                nav {
                    height: fit-content;
                    ul {
                        display: none;
                    }
                    .hamburger_menu {
                        display: inline-block;
                        i {
                            color : $appText;
                            font-size: $biggerText;
                        }
                    }
                }
                .jumbotron {
                    .left_jumbo, .right_jumbo {
                        margin: 0 auto;
                        width: 80%;
                    }
                    .left_jumbo {
                        @include centered_content;
                        text-align: center;                        
                    }
                }
            }
        }
    }
}

// Main
// Section 1
@mixin mq_firstSection {
    @media screen and (max-width: 900px) {
        main {
            section:first-of-type {
                .section_upside, .section_downside {
                    .col_row {
                        div {
                            margin: 0 auto;
                            width: 60%;
                        }
                    }
                    .mascotte_row {
                        margin: 0 auto;
                        width: 60%;
                        img {
                            width: 70%;
                        }                
                    }
                }


            }
        }
    }
}

// Section 2
@mixin mq_secondSection {
    @media screen and (max-width: 900px) {
        main {
            section:nth-child(2) {

                .section_row {
       
                    .img_side, .description_side {
                        text-align: center;
                        width: 100%;
                    }
                    .img_side {
                        img {
    
                        }
                    }
                    .description_side {
                        .description_wrapper {
                            width: 100%;    
    
                            h3 {
    
                            }
                            p { 
    
                            }
                            img {
    
                            }
                            
                        }
                    }
                }
                .section_row.reverse {
                    .description_side {
                        .description_wrapper {
                        }
                    }
                }
                
            }

        }
        
    }
}