// MIXIN
@mixin big_title {
    h1 {
        font-size: $leadTitle; 
        line-height: 50px;
    }
}

@mixin section_title {
    h2 {
        margin: 0 auto;
        text-align: center;
        width: 65%;
        font-size: 18px;
    }
}

@mixin ms_nav {
    padding: 5px 20px;
    @include even_content;  
    height: 10vh;
}

@mixin ms_cols {
    width: calc(100% / 3);
    @include centered_content;
    img {
        object-fit: contain;
        height: 100px;
        width: 35%;
    }
}

@mixin footerCols {
    width: calc(100% / 4);
}

@mixin signup {
    .sign_up_row {
        .btns_row {
            margin-top: 50px;
            display: $flex;
            align-items: center;
            span {
                margin: 0 10px;
            }
        }
        p:last-child {
            margin-top: 20px;
            font-size: $smallerText;
            i {
                margin-left : 3px;
            }
        }
    }
}

