// MIXIN
@mixin style_reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin even_content {
    display: $flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin centered_content {
    display: $flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin ms_anchors {
    text-decoration : none;
    color: $appText;
    &:visited {
        color: none;
    }
}

@mixin ms_list {
    ul {
        display: $flex;
        list-style: none;
        align-items: center;
        li {
            a {
                @include ms_anchors;
                margin-right: 20px;
            }
        }
    }
}

@mixin ms_nav {
    padding: 5px 20px;
    @include even_content;  
    height: 10vh;
}

@mixin ms_subcontainer {
    width: 80%;
    margin: 0 auto;
}

@mixin ms_70container {
    width: 70%;
    margin: 0 auto;
}

@mixin ms_halfcontainer {
    width: 50%;
    margin: 0 auto;
}

@mixin ms_cols {
    width: calc(100% / 3);
    @include centered_content;
    img {
        object-fit: contain;
        min-height: 100px;
        width: 35%;
    }
}

@mixin footerCols {
    width: calc(100% / 4);
}