// VARIABLES
$flex : flex;
$baseFontSize : 15px;
$smallerText : 13px;
$biggerText : 20px;
$leadTitle : 30px;

// MIXIN
@mixin clearfix {
    content: '';
    display: table;
    clear: both;
}

@mixin style_reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin even_content {
    display: $flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin centered_content {
    display: $flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin column_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

@mixin ms_anchors {
    a {
        text-decoration : none;
        color: $appText;
        &:visited {
        color: none;
        }
    }
    
}

@mixin ms_list {
    ul {
        display: $flex;
        list-style: none;
        align-items: center;
        li {
            @include ms_anchors;
            margin-right: 20px;
        }
    }
}

@mixin vertical_list {    
    ul {
        list-style: none;
        li {
            @include ms_anchors;
            margin : 10px 0px;
            a {
                font-size: $smallerText;
            }
        }
    }
}

@mixin ms_subcontainer {
    width: 80%;
    margin: 0 auto;
}


@mixin ms_halfcontainer {
    width: 50%;

}

