// Custom Buttons
.blue_btn {
    @include even_content;
    font-size: $baseFontSize;
    color: white;
    background: $msBlue;
    border: none;
    padding: 7px;
    font-weight: 500;
    border-radius: 5px;
    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 1px black;
    }
    img {
        margin-right: 5px;
        width: 15px;
    }
}

.google_btn {
    font-size: $baseFontSize;
    font-weight: 500;
    @include even_content;
    color: $msBlue;
    padding: 10px;
    background: white;
    border: 1px solid #AEB9D5;
    border-radius: 5px;
    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 1px black;
    }
    img {
        margin-right: 5px;
        width: 15px;
    }
}