// VARIABLES
$flex : flex;
$baseFontSize : 15px;
$smallerText : 13px;

// IMPORTS
@import "partials/_mstools";
@import "partials/_mycolors";
@import "partials/_mybuttons";
@import "partials/_mstemplates";

// MIXIN
@mixin big_title {
    h1 {
        font-size: 30px;
        line-height: 50px;
    }
}

@mixin section_title {
    h2 {
        margin: 0 auto;
        text-align: center;
        width: 65%;
        font-size: 18px;
    }
}

// MY CSS
// Commons
* {
    @include style_reset
}
body {
    @include big_title();
    font : {
        family: 'Roboto', sans-serif;
        size : $baseFontSize;
    }
    color: $appText;
    i {
        vertical-align: middle;
    }
}

// Header
header {
    .subcontainer {
        @include ms_subcontainer();
        padding-bottom: 50px;
    }
    nav {
        @include ms_nav;
        .logo img {
            width: 125px;
        }
        @include ms_list;
        border-bottom: 1px solid black;
    }
    .jumbotron {
        @include even_content;
        padding: 50px 0px 0px 0px;
        .left_jumbo {
            align-self: flex-start;
            @include ms_halfcontainer;
            p:first-of-type {
                font-weight: 500;
            }
            @include signup;

        }
        .right_jumbo {
            pad: 10px;
            @include ms_halfcontainer;
            img {
                object-fit: contain;
                width: 100%;
            }
        }
        
    }  
    
}

// Main
// Section 1
main {
    section:first-of-type {
        background: $msMatte;
        @include section_title();
        .section_upside, .section_downside {
            @include ms_70container;
            padding: 50px 0px;
            .col_row {
                padding: 40px 0px;
                @include even_content;
                div {
                    @include ms_cols;
                    p {
                        text-align: center;
                        width: 100%;
                        margin: 30px 0px;
                        font-size: $smallerText;
                    }
                }
            }
            .mascotte_row {
                @include centered_content;
                img {
                    width: 30%;
                    margin-bottom: 70px;
                }                
            }
        }
        .section_upside {
            border-bottom: 1px solid black;
        }        
    }

    // Section 2
    section:nth-child(2) {
        padding: 10px 0;
        .section_row {
            @include clearfix;
            padding: 30px 0px;
            .img_side, .description_side {
                float: left;
                @include ms_halfcontainer;
            }
            .img_side {
                img {
                    width: 100%;
                }
            }
            .description_side {
                .description_wrapper {

                    @include ms_anchors;
                    @include ms_halfcontainer;
                    h3 {
                        margin-bottom: 40px;
                    }
                    p { 
                        margin: 20px 0;
                        padding-left: 10px;
                        a {
                            color : $msBlue;
                        }
                    }
                    img {
                        margin-top: 10px;
                        width: 100%;
                    }
                    
                }
            }
        }
        .section_row.reverse {
            .description_side {
                @include clearfix;
                .description_wrapper {
                    float: right;
                }
            }
        }
        
    }

    // Section 3
    section:last-child {
        background: $msMatte;
        padding: 40px 0;
        .section_wrapper {
            margin: 0 auto;
            @include ms_halfcontainer;
            .title_row {
                h1 {
                    text-align: center;
                    img {
                        width: 25px;
                    }
                }
            }
            .content_row {
                .co_founders {
                    margin-top : 50px;
                    position: relative;
                    padding: 5px 20px;
                    background: white;
                    border: 1px solid $msBlue;
                    border-radius: 10px;
                    p {
                        margin : 15px 0;
                    }
                    .profile_wrapper {
                        display: $flex;
                        align-items: center;
                        .profile_pictures {
                            img {
                                width: 50px;
                                margin-right: 20px;
                            };
                        }
                        .profile_names {
                            margin-left : 5px;
                            h4 {
                                font-weight: 400;
                                &:first-of-type {
                                    color: $msBlue;
                                }
                            }
                        }
                    }
                    i {
                        color: $msBlue;
                        font-size: 20px;
                        position: absolute;
                        transform: translateY(-50%);
                        top: 0;
                        left: 0;
                    }                 
                    
                }
                @include signup;
                .sign_up_row {
                    margin: 0 auto;
                    width: fit-content;
                    text-align: center;
                }               
            }
        }
    }
}